<% @title = "Línea de tiempo" %>
<div class="row" style="margin:20px;">
  <div class="span11">
    <h1>Línea de tiempo</h1>
    <hr />
    <div id="timeline" data-url="/timeline.json"></div>
  </div>
</div>
