<% @title = "Línea de tiempo" %>
<div class="row margin">
  <div class="span11" style="height:750px;">
    <h1>Línea de tiempo</h1>
    <hr />
    <div id="timeline-embed"></div>

<script type="text/javascript">
    var timeline_config = {
                width:          "100%",
                height:         "100%",
                source:         '/timeline.json'
                //hash_bookmark:  true
                //font:           'Bevan-PotanoSans',                     //OPTIONAL FONTS
                //maptype:        'watercolor',                           //OPTIONAL MAP STYLE
                //css:            'path_to_css/timeline.css',             //OPTIONAL
                //js:             'path_to_js/timeline.js'                //OPTIONAL
        }

$(document).ready(function() {
  $('img.media-image').each( function(){
    var link = $(this).parent().parent().parent().parent().parent().children('.text').children().children('h3').children('a').attr('href');
    $(this).wrap('<a href="' + link + '" />');
  });
});

</script>
<script type="text/javascript" src="/assets/timeline-embed.js"></script>
<script type="text/javascript" src="/assets/timeline.es.js"></script>
 
<!-- script type="text/javascript">
$(document).ready(function() {
var timeline = new VMM.Timeline();
  timeline.init("/timeline.json");
});
</script -->
  </div>
</div>
