<% @title = "Línea de tiempo" %>
<div class="row margin">
  <div class="span10" style="height:750px;">
    <h1>Línea de tiempo</h1>
    <hr />
    <%= render :partial => "partials/timeline", :locals => { :source => "/timeline.json" } %>
  </div>
</div>
