<% @title = "Línea de tiempo" %>
<div class="row margin">
  <div class="span10" style="height:750px;">
    <h1>Línea de tiempo</h1>
    <hr />
    <div id="timeline-embed"></div>

<script type="text/javascript">
    var timeline_config = {
                width:          "100%",
                height:         "90%",
                source:         '/timeline.json'
                //hash_bookmark:  true
                //font:           'Bevan-PotanoSans',                     //OPTIONAL FONTS
                //maptype:        'watercolor',                           //OPTIONAL MAP STYLE
                //css:            'path_to_css/timeline.css',             //OPTIONAL
//                js:             '/assets/timeline.es.js'                //OPTIONAL
        }

$(document).ready(function() {
  $('img.media-image').each( function(){
    var link = $(this).parent().parent().parent().parent().parent().children('.text').children().children('h3').children('a').attr('href');
    $(this).wrap('<a href="' + link + '" />');
  });
});

</script>

  <%= javascript_include_tag "timeline-embed" %>
  <%= javascript_include_tag "timeline-es" %>
 
  </div>
</div>
