<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <h1>Línea de tiempo</h1>
    <hr />
    <div id="timeline" data-url="/timeline.json"></div>
  </div>
</div>
