<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <h1>Nube de tags</h1>
    <hr />
    <ul id="tagcloud">
      <% @tagcloud.each do |tag| %>
        <li class="<%= tag_weight_css(tag[:count]) %>">
          <%= link_to tag[:name], :controller => "tags", :action => "show", :tag => tag[:name] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
