<% @title = "Etiquetas" %>
<div class="row" style="margin:20px;">
  <div class="span11">
    <h1>Etiquetas</h1>
    <hr style="margin-right:10px;"/>
    <ul id="tagcloud" style="margin-left: -10px; width:85%;">
      <% @tagcloud.each do |tag| %>
        <li class="<%= tag_weight_css(tag[:count]) %>">
          <%= link_to tag[:name], tag_show_path(tag[:name]) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
