@import "bootstrap.2.0.3"
@import "jquery-ui-1.8.16.custom"
@import "jquery.tagit"
@import "gmaps4rails"
@import "timeline"
@import "jquery.simplemm"
@import "markdown"
@import "15mcc"

body
  font-family: Verdana
  background-color: #444

p, h1, h2, h3
  color: #000

.strong
  font-weight: bold

.alert-alert
  @extend .alert-error

.alert-notice
  @extend .alert-info

#wrapper
  background-color: #fff
  padding: 10px
  margin-top: 15px 

#flash-message
  position: fixed
  top: 0
  left: 0
  right: 0 
  z-index: 1

.disclaimer
  @extend .alert
  @extend .alert-info

#header
  margin-top: 10px

#main-header
  margin-bottom: -4px

#ribbon
  margin-top: -20px
  margin-left: 10px
  margin-right: 0px

#topmenu
  ul
    margin-left: 0
  ul li
    display: inline
    margin: 0 2px
    a
      color: #000

#logo
  position: relative
  right: -75px
  z-index: 0

  #logo-banco
    float: left
    margin-top: 25px

  #light
    float: left

#mainnav
  background-color: #000
  margin-left: 10px
  margin-right: -10px
  margin-top: 20px
  height: 20px

#mainnavbar
  position: relative
  z-index: 1
  a
    color: #000
    font-weight: bold
    font-size: 1em

#topmenu
  margin-top: 6px
  z-index: 1
  position: relative

#content
  a
    color: #000

#home-sections, #docu-home-shot
  margin-top: 20px

#home-sections
  ul li
    display: inline
    margin-right: 22px

#home-info
  text-align: right

#bank-links
  background-color: #000
  font-size: 1.2em
  width: 75%
  a
    color: #fff
  ul
    margin-top: 10px
    list-style-type: none
    li
      margin-bottom: 10px

#actions
  text-align: right 

#icons-sections
  margin-top: 20px
  margin-left: -7px

.main-form
  legend
    color: #000
    font-size: 2em
  .form-field
    margin-bottom: 15px
    label
      font-size: 1.3em
    input, textarea
      padding: 10px

#slide-share-home
  margin-left: 40px

// fix for googlemaps + bootstrap
// https://github.com/twitter/bootstrap/issues/1552
.map_container img 
  max-width: none

#footer
  margin-top: 40px
  #footer-line
    background-color: #9c9e9f
    margin-top: -3px

#modal-node-tags
  .ui-autocomplete-input
    width: 39em

.hide 
  display: none

.add-content
  text-align: center
  margin: 1em

// fix para jquery-ui-bootstrap
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight 
  margin-bottom: 0px

ul.tagit input[type="text"]
  width: 50em

.mt1
  margin-top: 1em

.mt2
  margin-top: 3em

#control-fullscreen
  position: fixed
  z-index: 999

#tagcloud
  padding: 2px
  line-height: 1.5em
  text-align: center
  margin: 0
  li 
    display: inline
    padding: 0px
  .tag1 
    font-size: 0.7em
    font-weight: 100
  .tag2 
    font-size: 1.3em
    font-weight: 400
  .tag3 
    font-size: 1.9em
    font-weight: 600
  .tag4 
    font-size: 2.5em
    font-weight: 800
  .tag5 
    font-size: 3.1em
    font-weight: 1000

.infowindow-thumb
  display: block
  margin-top: 1em
  margin-right: auto
  margin-left: auto

form
  .gmaps4rails_map, .map_container
    height: 300px
    width: 624px
  #author_myself_label
    display: inline-block


.hr-profile
  border: 1px solid #000

#profile-main-links
  ul li
    display: inline

#profile-images, #profile-videos, #profile-texts, #profile-audios, #content-metadata
  thead
    background-color: #000
    color: #fff
  .secondary
    background-color: #87888F
    color: #fff

#general-map
  .gmaps4rails_map, .map_container
    height: 500px
    width: 850px

#content-map
  .gmaps4rails_map, .map_container
    height: 400px
    width: 600px

.center
  margin-left: auto
  margin-right: auto
  text-align: center
  margin: 20px

#flash-fallback_wrapper
  margin-left: auto
  margin-right: auto

// fix de bootstrap

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover
  background-color: grey
  color: white !important
      
#tagcloud
  font-size: 1.8em
