@import "bootstrap.1.4.0.min"

body
  font-family: Verdana

p, h1, h2, h3
  color: #000

.strong
  font-weight: bold

#header
  margin-top: 10px

#topmenu
  ul
    margin-left: 0
  ul li
    display: inline
    margin: 0 2px
    a
      color: #000

#logo
  margin-bottom: -5px
  text-align: right

#mainnav
  background-color: #000
  text-align: center
  ul
    margin: 10px 0
  ul li
    display: inline
    color: #fff
    a
      color: #fff
      font-size: 1.3em

#content

#home-sections, #docu-home-shot
  margin-top: 20px

#home-sections
  ul
    margin-left: 20px
  ul li
    display: inline
    margin-right: 50px

#home-info
  text-align: right

#footer
  margin-top: 40px
  #footer-logo
    margin-top: -10px
  #footer-line
    background-color: #9c9e9f
    margin-top: -4px
