<% @title = "多Has olvidado tu contrase単a?" %>
<div class="span10 mt1">

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <legend>多Has olvidado tu contrase単a?</legend>
    <%= f.email_field :email %>
    <div class="form-actions"><%= f.submit "Enviarme las instrucciones", :class => "btn btn-primary" %></div>
  <% end %>

  <%= render "links" %>

</div>
