  <div id="mindmap-wrapper" class="span9">
    <div id="mindmap">
    </div><!-- mindmap-demo -->
  </div><!-- mindmap-demo-wrapper -->

  <script id="tmpl-node" type="text/template">
    <div id="{{= id }}" class="node" style="left: {{= pos_left }}; top: {{= pos_top }}">
      <i class="icon icon-remove"></i>
      <span class="node_name">{{= label }}</span>
    </div>
  </script>

  <script id="tmpl-infobox" type="text/template">
    <div id="infobox" class="well">
      <div id="node-label">{{= label }}</span>
      <h4>Etiquetas</h4>
      <ul id="node-tags"></ul>
    </div>
  </script>

  <script id="tmpl-infobox-tag" type="text/template">
    <li><a href="/tags/show/{{= label }}">{{= label }}</a></li>
  </script>
