<div class="span12 mt1">

  <legend>Editando mapa conceptual</legend>

  <div id="mapmind-editor">
    <div id="control" class="well">
      <ul>
        <li><a href="#" id="node-create" class="btn"><i class="icon-plus"></i><b>Agregar nodo</b></a><br/>
        <li><a href="#" id="mapmind-update" class="btn btn-success"><i class="icon-plus"></i><b>Guardar mapa</b></a>
        <li class="node-selected hide"><a href="#" id="node-update" class="btn btn-primary"><i class="icon-pencil"></i><b>Cambiar nombre</b></a>
        <li class="node-selected hide"><a href="#" id="node-remove" class="btn btn-danger"><i class="icon-remove"></i><b>Borrar nodo</b></a>

      </ul>
    </div>
  </div>

  <script id='tmpl-node' type='text/template'>
    <div class="node hl">
      <span class="node_name">{{= name }}</span>
      <br />
      <i class="icon-repeat node-connect"></i>
    </div>
  </script>

</div>
