<div class="span12 mt1">

  <legend>Editando mapa conceptual</legend>

  <a href="#" id="create_node" class="btn" data-toggle="modal"><i class="icon-plus"></i><b>Agregar nodo</b></a>
  <div id="edit_connection"></div>

  <div id="mapmind-editor">
  </div>

  <script id='tmpl-node' type='text/template'>
    <div class="node">
      <span class="node_name">{{= name }}</span>
      <br />
      <i class="icon-pencil update_node"></i>
      <i class="icon-repeat ep"></i>
      <i class="icon-remove remove_node"></i>
    </div>
  </script>

</div>
