<div class="span12 mt1">

  <legend>Editando mapa conceptual</legend>

  <a href="#" id="create_node" class="btn" data-toggle="modal"><i class="icon-plus"></i><b>Agregar nodo</b></a>
  <div id="edit_connection"></div>

  <div id="mapmind-editor">
  </div>

</div>
