<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <a href="#" id="zoom-in"><i class="icon-zoom-in"></i></a>
    <a href="#" id="zoom-out"><i class="icon-zoom-out"></i></a>
    <span id="zoom-level">1</span>
    <span class="label label-important">Demo no funcional del mapa conceptual</span>
  </div>

  <div id="mindmap-demo-wrapper" class="span9">
    <div id="mindmap-demo">
      <div class="node" style="left: 71px; top: 31px;" id="node0001">
        <span class="node_name">acampada sol</span>
      </div>
      <div style="left: 69px; top: 84px;" class="node" id="node0002">
        <span class="node_name">personas</span>
      </div>
      <div style="left: 61px; top: 125px;" class="node" id="node0003">
        <span class="node_name">en la plaza</span>
      </div>
      <div style="left: 60px; top: 162px;" class="node" id="node0004">
        <span class="node_name"> democracia real ya </span>
      </div>
      <div style="left: 308px; top: -78px;" class="node" id="node0006"> 
        <span class="node_name">malestar</span>
      </div>
      <div style="left: 489px; top: -115px;" class="node" id="node0012"> 
        <span class="node_name">banqueros estafadores y ladrones</span>
      </div>
      <div style="left: 484px; top: -66px;" class="node" id="node0013"> 
        <span class="node_name">políticos corruptos</span>
      </div>
      <div style="left: 274px; top: 0px;" class="node" id="node0007"> 
        <span class="node_name">online</span>
      </div>
      <div style="left: 352px; top: 93px;" class="node" id="node0008"> 
        <span class="node_name">facebook</span>
      </div>
      <div style="left: 409px; top: 107px;" class="node" id="node0009"> 
        <span class="node_name">streaming</span>
      </div>
      <div style="left: 519px; top: -11px;" class="node" id="node0010"> 
        <span class="node_name">twitter</span>
      </div>
      <div style="left: 522px; top: 0px;" class="node" id="node0011"> 
        <span class="node_name">webs y blogs: tomalaplaza.net</span>
      </div>
    </div><!-- mindmap-demo -->
  </div><!-- mindmap-demo-wrapper -->
</div><!-- row -->
