<% @title = "Estás baneado" %>
<div class="span12 mt1">
  <h1>Estas baneado</h1>
  <p>Los administradores de 15M.cc te han baneado, si consideras que es un error puedes <a href="/pages/contacto">ponerte en contacto con nosotros</a>.</p>
</div>
