<div class="row">
  <div class="span12" id="home-banner" style="">
    <%= image_tag('home-banner.jpg') %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div id="home-sections">
      <ul>
        <li><%= link_to image_tag('book.png'), '#', title: 'Libro' %></li>
        <li><%= link_to image_tag('documental.png'), '#', title: 'Documental' %></li>
        <li><%= link_to image_tag('bank-ideas.png'), bank_path,  title: 'Banco de ideas' %></li>
      </ul>
    </div>
    <div id="home-info">
      <h2>Qué es 15M.cc</h2>
      <p><strong>15M.cc</strong> es un <strong>proyecto transmedia, colaborativo, copyleft y sin ánimo de lucro sobre el 15M,</strong> el movimiento ciudadano nacido el 15 de mayo de 2011 en España. El objetivo es editar <strong>un libro</strong>, producir <strong>un documental</strong> y desarrollar <strong>una página web</strong> mediante los que podamos ahondar en esta eclosión de un movimiento que se ha abierto paso en nuestra sociedad aquí y ahora.</p>
    </div>
  </div>
  <div class="span6">
     <div style="width:477px" id="__ss_10674226"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/proyecto15Mcc/dossier-15mcc-dic2011web-10674226" title="Dossier 15 mcc_v_0.9.1_es" target="_blank">Dossier 15 mcc_v_0.9.1_es</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/10674226" width="477" height="510" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> </div> </div>
  </div>
</div>
