<div class="span10 mt1">
  <h1>Perfil del usuario <%= @user.username %></h1>
  <% if current_user == @user %>
    <p><%= link_to 'Editar mi cuenta', edit_user_registration_path %></p>
  <% end %>
</div>
