<% if can? :update, @page %>
  <p><%= link_to "Editar página", "/editor" + request.path, id: "edit_link", data: { save_url: mercury_update_page_path(@page.slug) }, :class => "label" %></p>  
<% end %>

<div id="page_body" class="mt1 span11 mercury-region" data-type="editable">
  <%= raw @page.body %>
</div>

<% if can? :update, @page %>
  <p><%= link_to "Editar página", "/editor" + request.path, id: "edit_link", data: { save_url: mercury_update_page_path(@page.slug) }, :class => "label" %></p>  
<% end %>
