<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>15M.cc</title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
