<% @title = "Mapa geográfico" %>
<div class="row" style="margin:20px;">
  <div class="span11">
    <h1>Mapa geográfico</h1>
    <hr />
    <div id="general-map">
      <%= gmaps("markers" => { "data" => @map, "options" => { "randomize" => true } } ) %>
    </div>
  </div>
</div>
