<% @title = "Confirmación de usuario" %>
<div class="span10 mt1">

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

    <legend>Reenviar instrucciones de confirmación</legend>

    <%= f.email_field :email %>

    <div class="form-actions"><%= f.submit "Reenviar instrucciones de confirmación", :class => "btn btn-primary"  %></div>
  <% end %>

  <%= render "links" %>

</div>
