<h2>Reenviar instrucciones de confirmación</h2>

<%= bootstrap_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

  <%= f.label :email %>

  <div><%= f.submit "Reenviar instrucciones de confirmación" %></div>
<% end %>

<%= render "links" %>
