<p>¡Hola <%= @resource.email %>!

<p>Nos has notificado que quieres recuperar o cambiar tu contraseña. En ambos casos haz click en el link de abajo e introduce la nueva contraseña.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>En caso de que no te funcione el enlace, puedes copiar y pegar esto en la barra de direcciones de tu navegador:</p>

<p><%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no has solicitado un cambio de contraseña, por favor ignora este mensaje.</p>

<p>Tu contraseña no se modificará hasta que accedas al link de arriba y crees una nueva.</p>

<p>Saludos del equipo de 15M.cc</p>
