<p>¡Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a una cantidad excesiva de intentos de acceder.</p>

<p>Haz click en el enlace de abajo para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p>En caso de que no te funcione el enlace, puedes copiar y pegar esto en la barra de direcciones de tu navegador: </p>

<p><%= unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p>Saludos del equipo de 15M.cc</p>
