
    <% if can? :priority, content %>
      <% if content.priority == true %>
        <p><%= link_to image_tag("priority-ok.png"), "#", :class => "priority", "data-id" => content.id, "data-priority-action" => "remove", "data-type" => content.class.to_s %></p>
      <% else %>
        <p><%= link_to image_tag("priority-ko.png"), "#", :class => "priority", "data-id" => content.id, "data-priority-action" => "add", "data-type" => content.class.to_s %></p>
      <% end %>
    <% end %>
