<div class="disclaimer">
  <%= link_to image_tag("license.png", :style => "float:right"), "http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES" %>
  <span>Al grabar el texto, aceptas ceder tus contribuciones de manera irrevocable bajo la <%= link_to "Licencia Creative Commons Atribución Compartir-Igual 3.0", "http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES" %>. Aceptas ser citado, como mínimo, por medio de un enlace a la página donde has contribuido. Ver los términos de uso para más información. </span> 
</div>

