
<div id="timeline-embed"></div>

<script type="text/javascript">
  var timeline_config = {
    width:          "100%",
    height:         "600",
    source:         "<%= source %>",
    css:            "/assets/timeline.css", 
    js:             "/assets/timeline-min.js"
      //hash_bookmark:  true
      //font:           'Bevan-PotanoSans',                     //OPTIONAL FONTS
      //maptype:        'watercolor',                           //OPTIONAL MAP STYLE
  }

$(document).ready(function() {
    $('img.media-image').each( function(){
      var link = $(this).parent().parent().parent().parent().parent().children('.text').children().children('h3').children('a').attr('href');
      $(this).wrap('<a href="' + link + '" />');
      });
    });

  </script>


    <%= javascript_include_tag 'storyjs-embed' %>
